<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <button class="home-button" onclick="navigateToHome()">Home</button>
        <button class="menu-button">Menu</button>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/machine_learning.html">Machine learning</a></li>
                <li><a href="/mathematics.html">Mathematics fundamentals</a></li>
                <li><a href="/python.html">Get practical with Python</a></li>
                <li><a href="/resources.html">Resources</a></li>
                <li><a href="/security.html">Security & Ethics</a></li>
                <li><a href="/llm.html">LLM & Agents</a></li>
                <li><a href="/zerotrust.html">Zero Trust</a></li>
                <li><a href="/quantum.html">Quantum computing</a></li>
            </ul>
        </nav>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
    </header>
    <main>
        {{ content }}
    </main>
    <script src="script.js"></script>
</body>
</html>
